<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 text-white" aria-labelledby="all-products-link">
                <a href="sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="sort=category&direction=asc" class="dropdown-item ">By Genre</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="cd-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CDs
            </a>
            <div class="dropdown-menu border-0 text-white" aria-labelledby="cd-link">
                <a href="category=pop-cd" class="dropdown-item">Pop</a>
                <a href="category=hip-hop-cd" class="dropdown-item">Hip-hop</a>
                <a href="category=rock-cd" class="dropdown-item">Rock</a>
                <a href="category=pop-cd,hip-hop-cd,rock-cd" class="dropdown-item">All CDs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="vinyl-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinyls
            </a>
            <div class="dropdown-menu border-0 text-white" aria-labelledby="vinyl-link">
                <a href="category=pop-vinyl" class="dropdown-item">Pop</a>
                <a href="category=hip-hop-vinyl" class="dropdown-item">Hip-hop</a>
                <a href="category=rock-vinyl" class="dropdown-item">Rock</a>
                <a href="category=pop-vinyl,hip-hop-vinyl,rock-vinyl" class="dropdown-item">All Vinyls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="limited-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Limited Editions
            </a>
            <div class="dropdown-menu border-0 text-white" aria-labelledby="limited-link">
                <a href="category=cd-limited" class="dropdown-item">Limited Edition CDs</a>
                <a href="category=vinyl-limited" class="dropdown-item">Limited Edition Vinyls</a>
                <a href="category=exclusive" class="dropdown-item">Soundwaves Exclusives</a>
                <a href="category=cd-limited,vinyl-limited,exclusive" class="dropdown-item">All Limited Editions</a>
            </div>
        </li>

    </ul>
</div>